:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --link-primary-color: #2196f3;
  --link-seconary-color: #ffffff;
  --footer-color: rgba(255, 255, 255, 0.6);
}

/* Общие */
ul {
  list-style: none;
}
body {
  background-color: #e5e5e5;
}
a {
  text-decoration: none;
}

/* Стили header */
.link-current {
  color: var(--link-primary-color);
}
.link-current:hover,
.link-current:focus {
  color: var(--primary-text-color);
}

.link-nav {
  color: var(--primary-text-color);
}
.link-nav:hover,
.link-nav:focus {
  color: var(--link-primary-color);
}

.adress-link a {
  color: var(--title-text-color);
}
.adress-link a:hover,
.adress-link a:focus {
  color: var(--link-primary-color);
}

/* Стили Main */
h1 {
  color: var(--link-seconary-color);
}

.button {
  color: var(--link-seconary-color);
  background-color: var(--link-primary-color);
}
.button:hover {
  color: var(--link-primary-color);
  background-color: var(--link-seconary-color);
}

h2 {
  color: var(--primary-text-color);
}

p.principles {
  color: var(--title-text-color);
}

h3.princeples {
  color: var(--primary-text-color);
}

section .business {
  color: var(--link-seconary-color);
  background: rgba(47, 48, 58, 0.8);
}

/* Наша команда */
ul .team {
  color: var(--primary-text-color);
}

ul .team-vocation {
  color: var(--title-text-color);
}

.social-link a {
  color: var(--title-text-color);
}
.social-link a:hover,
.social-link a:focus {
  color: var(--link-seconary-color);
  background-color: var(--link-primary-color);
}
  

.clients a {
  color: var(--title-text-color);
}
.clients a:hover,
.clients a:focus {
  color: var(--link-seconary-color);
  background-color: var(--link-primary-color);
}

/* Футер */
footer {
  background: #2F303A;
}
footer .adress,
footer b {
  color: var(--link-seconary-color);
}

footer .mail,
footer .tel {
  color: var(--footer-color);
}

footer p {
  color: rgba(255, 255, 255, 0.6);
}

footer .social-link {
  color: var(--title-text-color);
}
footer .social-link:hover,
footer .social-link:focus {
  color: var(--link-seconary-color);
  background-color: var(--link-primary-color);
}